body {
  font-family: "Source Sans Pro", sans-serif;
}

header nav .navbar-brand {
  font-size: 24px;
  font-weight: 700;
}
header nav .navbar-collapse .navbar-nav .nav-item a {
  font-size: 20px;
  color: black;
  font-weight: 500;
}
header nav .navbar-collapse .navbar-nav .nav-item a.active {
  font-weight: 700;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main.about {
  align-items: flex-start;
  padding-top: 100px;
}
.main.about .main-container {
  width: 55%;
}
.main .main-container .greeting .hello, .main .main-container .what-i-do .hello {
  font-size: 40px;
  font-weight: 600;
}
.main .main-container .greeting .hello .code-icon, .main .main-container .what-i-do .hello .code-icon {
  padding-right: 5px;
}
.main .main-container .greeting .name, .main .main-container .what-i-do .name {
  font-size: 60px;
  font-weight: 600;
}
.main .main-container .greeting .description, .main .main-container .what-i-do .description {
  font-size: 24px;
  font-weight: 600;
}
.main .main-container .greeting .cta, .main .main-container .what-i-do .cta {
  padding-top: 25px;
}
.main .main-container .greeting .cta a, .main .main-container .what-i-do .cta a {
  margin-right: 10px;
  font-size: 20px;
}
.main .main-container .greeting .about-me-text, .main .main-container .what-i-do .about-me-text {
  padding-top: 25px;
  font-size: 20px;
}
.main .main-container .greeting .about-me-text span a, .main .main-container .what-i-do .about-me-text span a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}
.main .main-container .greeting .about-me-text .stay-tuned, .main .main-container .what-i-do .about-me-text .stay-tuned {
  padding-top: 25px;
}
.main .main-container .greeting .radio, .main .main-container .what-i-do .radio {
  display: flex;
  justify-content: space-evenly;
}
.main .main-container .greeting .portfolio-landing-container, .main .main-container .what-i-do .portfolio-landing-container {
  margin-top: 50px;
}
.main .main-container .greeting .portfolio-landing-container .portfolio-card, .main .main-container .what-i-do .portfolio-landing-container .portfolio-card {
  transition: box-shadow 0.3s;
}
.main .main-container .greeting .portfolio-landing-container .portfolio-card .portfolio-card-image, .main .main-container .what-i-do .portfolio-landing-container .portfolio-card .portfolio-card-image {
  height: 175px;
  width: 355px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .main-container .greeting .portfolio-landing-container .portfolio-card .portfolio-card-image__text, .main .main-container .what-i-do .portfolio-landing-container .portfolio-card .portfolio-card-image__text {
  font-family: "Luckiest Guy";
  color: white;
  font-size: 35px;
}
.main .main-container .greeting .portfolio-landing-container .portfolio-card .portfolio-link, .main .main-container .what-i-do .portfolio-landing-container .portfolio-card .portfolio-link {
  color: #6c757d;
  text-decoration: none;
}
.main .main-container .greeting .portfolio-landing-container .portfolio-card .portfolio-link:hover, .main .main-container .what-i-do .portfolio-landing-container .portfolio-card .portfolio-link:hover {
  color: black;
}
.main .main-container .greeting .portfolio-landing-container .portfolio-card:hover, .main .main-container .what-i-do .portfolio-landing-container .portfolio-card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2) !important;
}
.main .main-container .greeting .portfolio-landing-container .portfolio-card .mb-15, .main .main-container .what-i-do .portfolio-landing-container .portfolio-card .mb-15 {
  margin-bottom: 15px;
}
.main .main-container .greeting .portfolio-landing-container .portfolio-card-link, .main .main-container .what-i-do .portfolio-landing-container .portfolio-card-link {
  text-decoration: none;
  color: inherit;
}
.main .main-container .what-i-do {
  padding-top: 25px;
}

.social-container {
  display: flex;
  justify-content: start;
  max-width: 100%;
}
.social-container .social a {
  color: black;
  padding: 5px;
  text-decoration: none;
}
.social-container .social a svg {
  font-size: 25px;
}
.social-container .social a svg:hover {
  color: #808080;
}

.justify {
  text-align: justify;
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 400;
  src: local("Source Sans Pro Italic"), local("SourceSansPro-Italic"), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPZ7nsDc.ttf) format("truetype");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 700;
  src: local("Source Sans Pro Bold Italic"), local("SourceSansPro-BoldItalic"), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZclSds18E.ttf) format("truetype");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format("truetype");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdr.ttf) format("truetype");
}

/*# sourceMappingURL=styles.css.map */
